.container {
  /* background: #f0e9e9; */
  text-align: justify;
  
}

.container .aboutContainer {
  background: #f8f5f5;
  margin: 30px 30px;
  padding: 32px 16px;
  border-radius: 10px;
}

.aboutContainer h4 {
  margin: 16px 0;
}
.aboutContainer p {
  font-size: 14px;
  color: rgb(107, 106, 106);
}
