.contactContainer {
  font-size: 14px;
  color: rgb(107, 106, 106);
  margin-top: 20px;
}

.contactContainer h3 ,
.contactContainer p
{
    padding: 0 26px;
}

.contactContainer form {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 50%;
  padding: 0 26px;
}

.inputBox input,
.inputBox textarea {
  all: unset;
  border: 1px solid rgb(134, 133, 133);
  padding: 10px;
  border-radius: 10px;
}

.contactBox {
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding: -26px; */
  margin: 10px 20px;
  /* background-color: red; */
}

.contactBox p {
  font-size: 13px;
}

@media screen and (max-width: 800px) {
  .inputBox {
    width: 100%;
  }
}
